Flask==3.0.3
Werkzeug==3.0.3
Jinja2==3.1.4
itsdangerous==2.2.0
click==8.1.7
tensorflow==2.17.0
numpy==1.26.4
pandas==2.2.2
matplotlib==3.9.0
scikit-learn==1.5.0
opencv-python==4.10.0.82
scikit-image==0.24.0
gunicorn==20.1.1
