.heading{
display:flex;
align-content: center;
justify-content:space-between;
font-family : "Cambria";
color:rgb(223, 124, 223);
border: 2px solid #ddd;
position: relative; 
margin-bottom:10px;
border-radius: 7px;
}

.head_c{

    padding-left:6px;
    color:rgb(227, 85, 227);
    
    
}

.head_img{
   
    margin-right: 37vw;
    max-width: 50vw;
    font-size:clamp(20px,3.5vw,3.5vw);
}
.logo{
    max-width:15vw;
    max-height: 15vw;
    width:130px;
    border-radius: 75px;
    margin-right:10vw;

}
.results{
    display:flex;
    align-content: center;
    justify-content:center;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: inset -4px -4px 25px  #155724 ;

}
.first_res {
    max-width:43vw;
    width :500px;
    margin:10px;
    margin-left:30px;
    margin-top:20px;
    margin-bottom:30px;
}
.second_res {
    max-width:46vw;
    width :560px;
    margin:10px;
    margin-top:20px;
    margin-bottom:30px;
}
.custom-button {
    margin-right:5px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow  0.3s ease, background-color 0.3s ease;
}

.custom-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
    box-shadow:2px 4px 10px rgb(48, 48, 48);
}
.file-input{
    display:none;
}
.submit{
    font-size: 16px;
    cursor: pointer;
    /* margin:5px; */
    
    margin-left:5px;
    padding:10px;
    border: none;
    border-radius: 5px;
    background-color: #ccfdf8;
    transition: box-shadow  0.3s ease,background-color 0.3s ease;
}
.submit:hover {
    background-color: #84ee71;
    transform: scale(1.05); 
    box-shadow:2px 4px 10px rgb(48, 48, 48);
    /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), 0 -2px 6px rgba(255, 255, 255, 0.2) inset; */

}
.download{
    margin:5px;
    /* padding:6px; */
    
    background-color: violet;
    border: #ddd snow;
    border-radius: 5px;
    cursor: pointer;
    width:130px;
    height: 35px;
    transition: transform 0.3 ease,box-shadow  0.3s ease;
    font-family :cursive;
    font-size: medium;

}
.download:hover{
    transform: scale(1.05); 
    box-shadow:2px 4px 10px rgb(48, 48, 48);


}
.submit_box{
    display:flex;
    align-items: center;
    justify-content: center;


}
.para{
    display:flex;
    align-items:flex-start;
    justify-content: center;
    margin-bottom:20px;
    margin-left:20px;

}
.box2{
    display:flex;
    align-items:flex-start;
    justify-content: center;
    flex-wrap: wrap;
    border: #b0aeae solid;
    border-radius: 8px;
    margin:20px;
}
.Original{
    display:grid;
    grid-template-rows: auto;
    padding:15px;
    max-width: 39vw;
    /* margin-bottom: 10px; */
}
.Processed{
    display:grid;
    grid-template-rows: auto;
    padding:15px;
    max-width: 39vw;

}
.Upload_Another_Image{
     margin:10px; 
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:clamp(5px 1vw 1vw);
    

}
.Original_h{
    max-height: 20vw;
    border-color: #007bff; /* Blue border */
    background-color: #e7f3ff; /* Light blue background */
    color: #0056b3;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* font-family: Arial, sans-serif; */
    font-family: 'Poppins', 'Open Sans', sans-serif; 
    background-color: #f9f9f9;
    font-size:1.3vw;
    margin-bottom: 4px;
}
.Processed_h1{
    max-height: 20vw;
    border-color: #28a745; /* Green border */
    background-color: #e8f9e8; /* Light green background */
    color: #155724;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: 'Poppins', 'Open Sans', sans-serif; 
    background-color: #f9f9f9;
    font-size:1.3vw;
    margin-bottom: 4px;
   
}
.logo_c{
    cursor: pointer;
    width:130px;
    border-radius: 70px;
    max-width: 10vw;
}
.div_h4{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: none;
    padding:none;
}
.h4{
    color: #d040f4;
    font-family: Arial, sans-serif;
    margin-bottom: none;
    font-size:clamp(15px,1.5vw,1.5vw);
    padding:none;
}
